# Dependencias
node_modules/

# Build de Next.js y salidas estáticas
.next/
out/

# Artefactos de build/cobertura
dist/
build/
coverage/

# Caches y despliegue
.turbo/
.vercel/

# Lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
